<div class="p-grid p-justify-center">
  <div class="p-col-8">

    <h1>Unser Planetensystem hat {{count}} Planeten.</h1>

    <!--TODO STEP ELEVEN @Input-->
    <!-- add a 'banana in a box' input binding for the planets in our oc-planet tag-->
    <!--TODO STEP FOURTEEN @Output-->
    <!--Bind the output of the oc-planet to a method in app.component.ts-->
    <!--(inputProperty) = "yourbinding(parameter)"-->
    <!--The emitted event can will be denoted with $event-->
    <oc-planet [planets]="planets"></oc-planet>

    <!--CHECKPOINT Exercise FOUR: add the donotdead-openinside component instead of the oc-planet -->

    <router-outlet></router-outlet>

  </div>
</div>
