<div class="p-grid p-align-center">

  <span class="p-col-1">{{planet.name}}</span>
  <div class="p-col-1">

    <input #nameRef style="width: 100%;" (keyup)="onChangePlanetName(nameRef.value)">
    <button (click)="updatePlanetName()">Confirm</button>
  </div>
  <!-- image src url === moved to ts ? 'well done' : 'what are you waiting for';-->
  <div class="p-col-3 p-md-2"><img src="{{planet.imageSrc}}" style="width: 100%;"/></div>
  <span class="p-col-2">Radius: {{planet.radius}} km</span>
  <span class="p-col-2">Masse: {{planet.weight}} kg</span>
  <span class="p-col-2">Temperatur: {{planet.temperature}} K</span>
</div>

<h2>Exercise 2: Message Box (ng-content)</h2>
<oc-message-box></oc-message-box>

<!--TODO STEP SIX (after a short presentation)-->
<!--Display all our planets in a list, make use of the *ngFor structural directive-->
<!--syntax hint: let arrrrr of array-->
<ul>
  <li>
    <!--Bind to the arrrrrrrrrrr instead of the arrrray itself.-->
  </li>
</ul>
<!--TODO STEP SEVEN -->
<!--replace the list item with the above formatted planet tags.-->
<!--roughly: ul + li + div grid + div class p-col ; div + image ; span-->




<!--TODO EXERCISE FOUR AND MORE ~ step eight-->
<!--If you wish you can continue the exercise here in this component, if you are struggling to keep up or want a clean start for the next-->
<!--exercises: take a look at the donotdead-openinside component.-->
<!--you can continue there (in that case make use of the CHECKPOINT in the app.component.html (display the new component instead of this one)-->

<!--TODO STEP EIGHT: *ngSwitch directive-->
<!--Make use of the structural *ngSwitch directive to display a human readable temperature-->
<!--apply *ngSwitchCase to a tag e.g. div, or span in which you evaluate the temperature i.e. "temp >= 500"-->
