<div class="p-grid p-align-center">

  <span class="p-col-1">{{planets[0].name}}</span>
  <div class="p-col-1">

    <input #nameRef style="width: 100%;" (keyup)="onChangePlanetName(nameRef.value)">
    <button (click)="updatePlanetName()">Confirm</button>
  </div>
  <!-- image src url === moved to ts ? 'well done' : 'what are you waiting for';-->
  <div class="p-col-3 p-md-2"><img src="{{planets[0].image}}" style="width: 100%;"/></div>
  <span class="p-col-2">Radius: {{planets[0].radius}}</span>
  <span class="p-col-2">Masse: {{planets[0].weight}}</span>
  <span class="p-col-2">Temperatur: {{planets[0].temp}}</span>
</div>

<h2>Exercise 2: Message Box (ng-content)</h2>
<oc-message-box></oc-message-box>

<ul>
  <li *ngFor="let planet of planets">
    <div class="p-grid p-align-center">

      <span class="p-col-1">{{planet.name}}</span>
      <div class="p-col-1">

        <input #nameRef style="width: 100%;" (keyup)="onChangePlanetName(planet, nameRef.value)">
        <button (click)="updatePlanetName(planet)">Confirm</button>
      </div>
      <!-- image src url === moved to ts ? 'well done' : 'what are you waiting for';-->
      <div class="p-col-3 p-md-2"><img src="{{planet.image}}" style="width: 100%;"/></div>
      <span class="p-col-2">Radius: {{planet.radius}}</span>
      <span class="p-col-2">Masse: {{planet.weight}}</span>
      <span class="p-col-2">Temperatur: {{planet.temp}}</span>
    </div>
  </li>
</ul>

<!--TODO STEP EIGHT: *ngSwitch directive-->
<!--Make use of the structural *ngSwitch directive to display a human readable temp-->
<!--apply *ngSwitchCase to a tag e.g. div, or span in which you evaluate the temp i.e. "temp >= 500"-->
