<div class="p-grid p-align-center">

  <!-- STEP ONE -->
  <!-- move our static planet data to our component ts as fields, e.g. name, weight-->
  <!-- display the data with double curly braces: {{}} they provide data binding with built-in change detection -->
  <span class="p-col-1">{{name}}</span>
  <div class="p-col-1">

    <!-- STEP TWO -->
    <!-- bind the method onChangePlanetName to the keyUp event -->
    <!-- pass the value of the input element to our method -->
    <!-- add a reference #nameRef to our input field. We use it in the keyup event procesing to access the value of the input field -->
    <!-- (keyup) is the OnKeyup event -->
    <input #inputRef (keyup)="keepTrackOfInput(inputRef.value)" style="width: 100%;">
    <!-- button: bind the method updatePlanetName to the buttons' click event -->
    <!-- (click) is the OnClick event trigger of the button -->
    <button (click)="updatePlanetName()">Confirm</button>
  </div>
  <!-- image src url === moved to ts ? 'well done' : 'what are you waiting for';-->
  <div class="p-col-3 p-md-2"><img src={{planet.image}} style="width: 100%;"/></div>
  <span class="p-col-2">Radius: {{planet.size}} km</span>
  <span class="p-col-2">Masse: 1.9885×1030 kg</span>
  <span class="p-col-2">Temperatur: 5.778 K</span>
</div>

<!-- STEP FOUR -->
<h2>Exercise 2: Message Box (ng-content)</h2>
<!-- add our custom message box component -->
<!-- to add a component simply add a tag with the components' selector which can be found in the components ts annotation -->
<!-- everything between the oc-message-box tags replaces the <ng-content> of the message-box-component -->
<!-- the new component has a message for you, check it out in the browser -->
<oc-message-box>
  <h1>neat!</h1>
</oc-message-box>

<!--STEP SIX (after a short presentation)-->
<!--Display all our planets in a list, make use of the *ngFor structural directive-->
<!--syntax hint: let arrrrr of array-->
<!--STEP SEVEN -->
<!--replace the list item with the above formatted planet tags.-->
<!--roughly: ul + li + div grid + div class p-col ; div + image ; span-->
<ul>
  <li *ngFor="let arrr of planets">
    <!--Bind to the arrrrrrrrrrr instead of the arrrray itself.-->
    {{arrr.name}}

    <div class="p-grid p-align-center">
      <span class="p-col-1">{{arrr.name}}</span>
      <div class="p-col-3 p-md-2"><img src={{arrr.image}} style="width: 100%;"/></div>
      <span class="p-col-2">Größe: {{arrr.size}} km</span>
      <span class="p-col-2">Masse: 1.9885×1030 kg</span>
      <span class="p-col-2">Temperatur: 5.778 K</span>
    </div>
  </li>
</ul>

<!--TODO STEP EIGHT: *ngSwitch directive-->
<!--Make use of the structural *ngSwitch directive to display a human readable temperature-->
<!--apply *ngSwitchCase to a tag e.g. div, or span in which you evaluate the temperature i.e. "temp >= 500"-->
